<% @pending_groups.each do |group| %>
  <p>Name: <%= group.name %></p>
  <p>
    Share Calendar?: 
    <% if group.share_cal %>
      Yes
    <% else %>
      No
    <% end %>
  </p>
  <% members = [] %>
  <% GroupInvitation.where(group_id:group.id,decision:"Accept").each do |invitation| %>
    <% members << invitation.user.name.capitalize %>
  <% end %>
  <p>Members: <%= members.join(", ") %></p>
  <%= form_tag "/groupinvitations/#{GroupInvitation.find_by(group_id: group.id, user_id: current_user.id).id}", method: :patch do %>
    <p><input type="submit" class="btn btn-success" name="decision" value="Accept"></p>
    <p><input type="submit" class="btn btn-danger" name="decision" value="Decline"></p>
  <% end %>
  <hr>
<% end %>

<% @accepted_groups.each do |group| %>
  <p>Name: <%= group.name %></p>
  <p>
    Share Calendar?: 
    <% if group.share_cal %>
      Yes
    <% else %>
      No
    <% end %>
  </p>
  <% members = [] %>
  <% GroupInvitation.where(group_id:group.id,decision:"Accept").each do |invitation| %>
    <% members << invitation.user.name.capitalize %>
  <% end %>
  <p>Members: <%= members.join(", ") %></p>

  <% if current_user == GroupInvitation.find_by(group_id: group.id, mem_type: "owner").user %>
    <p><%= button_to 'Show', "/groups/#{group.id}", {method: :get, class: "btn btn-default"} %></p>
  <% end %>
  
  <p><%= button_to 'Add Event', "/events/new", {method: :get, class: "btn btn-primary"} %></p>
  <hr>
<% end %>