<% if @pending_groups.count < 1 && @accepted_groups.count < 1 %>
  <p>You have no groups.</p>
<% end %>

<div class="container">
  <div class="row">
    <% if @pending_groups.count > 0 %>
      <h1 class="title text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">Pending Groups</h1>
      <% @pending_groups.each do |group| %>
        <div class="col-sm-3 col-xs-6 wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
          <div class="portfolio-wrapper">   
            <div class="portfolio-single">
              <div class="portfolio-thumb">
                <h2><strong><%= group.name.capitalize %></strong></h2>
                <p>
                  <strong>Share Calendar? </strong>
                  <% if group.share_cal %>
                    Yes
                  <% else %>
                    No
                  <% end %>
                </p>
                <% members = [] %>
                <% GroupInvitation.where(group_id:group.id,decision:"pending").each do |invitation| %>
                  <% members << invitation.user.name.capitalize %>
                <% end %>
                <p><strong>Members: </strong><%= members.join(", ") %></p>
                <br>
              </div>
              <div class="portfolio-view">
                <ul class="nav nav-pills">
                  <li><a href="/groupinvitations/<%= GroupInvitation.find_by(group_id: group.id, user_id: current_user.id).id %>/accept">+</a></li>
                  <li><a href="/groupinvitations/<%= GroupInvitation.find_by(group_id: group.id, user_id: current_user.id).id %>/decline">-</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <% if @accepted_groups.count > 0 %>
      <h1 class="title text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">Accepted Groups</h1>
      <% @accepted_groups.each do |group| %>
        <div class="col-sm-3 col-xs-6 wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
          <div class="portfolio-wrapper">   
            <div class="portfolio-single">
              <div class="portfolio-thumb">
                <h2><strong><%= group.name.capitalize %></strong></h2>
                <p>
                  <strong>Share Calendar? </strong>
                  <% if group.share_cal %>
                    Yes
                  <% else %>
                    No
                  <% end %>
                </p>
                <% members = [] %>
                <% GroupInvitation.where(group_id:group.id,decision:"Accept").each do |invitation| %>
                  <% members << invitation.user.name.capitalize %>
                <% end %>
                <p><strong>Members: </strong><%= members.join(", ") %></p>
                <br>
              </div>
              <div class="portfolio-view">
                <ul class="nav nav-pills">
                  <% if current_user == GroupInvitation.find_by(group_id: group.id, mem_type: "owner").user %>
                    <li><a href="/groups/<%= group.id %>">D</a></li>
                  <% end %>
                  <li><a href="/events/new">+</a></li>
                  <li><a href="/groups/<%= group.id %>/events"><i class="fa fa-eye"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>