<div class="personalized-container">
  <div class="row">
    <div class="col-md-9" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div id="calendar"></div>
    </div>
    <div class="col-md-3" data-wow-duration="1000ms" data-wow-delay="300ms">
      <% if @pending_events.count > 0 %>
        <h2>Pending Events</h2>
        <% @pending_events.each do |event| %>
          <h4><%= event.name %></h4>
          <%= event.friendly_time(event.start) %>
          <p>location: <%= event.location %></p>
          <%= form_tag "/eventinvitations/#{EventInvitation.where(event_id: event.id, user_id: current_user.id)[0].id}", method: :patch do %>
            <p><input type="submit" class="btn btn-success" name="decision" value="Accept"></p>
            <p><input type="submit" class="btn btn-warning" name="decision" value="Tentative"></p>
            <p><input type="submit" class="btn btn-danger" name="decision" value="Decline"></p>
          <% end %>
          <hr>
        <% end %>
      <% end %>

      <% if @accepted_events.count > 0 %>
        <h2>Accepted Events</h2>
        <% @accepted_events.each do |event| %>
          <h4><%= event.name %></h4>
          <% if event.start %>
            <%= event.friendly_time(event.start) %>
          <% else %>
            <p>start: TBD</p>
          <% end %>
          <p>location: <%= event.location %></p>
          <p><%= button_to 'Show', "events/#{event.id}", {method: :get, class: "btn btn-primary"} %></p>
          <hr>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {

  var time = 0;

  $('#calendar').fullCalendar(
    {
      customButtons: {
        addEvent: {
          text: '+ add',
          click: function() {
            if (time) {
              window.location.href = '/events/new?start=' +  time[0] + '&end=' + time[1];
            } else {
              window.location.href = '/events/new';
            }
          }
        }
      },
      header: {
        left:   'today prev,next addEvent',
        center: 'title',
        right:  'month,agendaWeek,agendaDay,listWeek'
      },
      events: '/api/v1/events',
      timezone: 'local',
      selectable: true,
      selectHelper: true,
      dayClick: function(date, jsEvent, view) {
        if (view.name !== 'month') {
          return;
        }

        if (view.name === 'month') {
          $('#calendar').fullCalendar('changeView', 'agendaDay', {events: 'events.json'});
          $('#calendar').fullCalendar('gotoDate', date);
        }
      },
      select: function(start, end) {
        if ((start._d.toString().substring(16,24) !== "20:00:00") && (end._d.toString().substring(16,24) !== "20:00:00")) {
          time = [start._d, end._d];
        }
      }
    }
  );
});

</script>