<% if @login_success %>
  <div class="col-md-12">
    <div class="alert alert-success fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><%= @login_success %></h4>
    </div>
  </div>
<% end %>

<div class="personalized-container">
  <div class="row">
    <div class="col-md-9" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div id="calendar"></div>
    </div>
    <div class="col-md-3" data-wow-duration="1000ms" data-wow-delay="300ms" id="contained">
      <% if @pending_events.count > 0 %>
        <h2><strong>Pending Events</strong></h2>
        <% @pending_events.each do |event| %>
          <div class="well" id="customized-well">

            <h4><%= event.name %></h4>

            <% if EventInvitation.find_by(event_id: event.id).group_id %>
              <p><img src="http://icons.iconarchive.com/icons/custom-icon-design/silky-line-user/16/users-icon.png"> <%= Group.find(EventInvitation.find_by(event_id: event.id).group_id).name %> - <%= EventInvitation.find_by(event_id: event.id, mem_type: "owner").user.name %></p>
            <% end %>

            <p><img src="http://icons.iconarchive.com/icons/icons8/ios7/16/Time-And-Date-Timer-icon.png"> <%= event.friendly_time(event.start) %> - <%= event.friendly_time_only(event.end) %></p>


            <% if event.location != "" && event.yelp != "" %>
              <p><img src="http://icons.iconarchive.com/icons/icons8/ios7/16/Maps-Location-icon.png"> <a href="<%= event.yelp %>"><%= event.location %></a></p>
            <% elsif event.location != "" %>
              <p><img src="http://icons.iconarchive.com/icons/icons8/ios7/16/Maps-Location-icon.png"> <%= event.location %></p>
            <% end %>

            <%= form_tag "/eventinvitations/#{EventInvitation.where(event_id: event.id, user_id: current_user.id)[0].id}", method: :patch do %>
              <p><input type="submit" class="btn btn-success" name="decision" value="Accept">
              <input type="submit" class="btn btn-danger" name="decision" value="Decline"></p>
            <% end %>

          </div>
        <% end %>
      <% else %>
        <h2>You have no pending events.</h2>
      <% end %>

      <% if @accepted_events.count > 0 %>
        <h2><strong>Upcoming Events</strong></h2>
        <% @accepted_events.each do |event| %>
          <div class="well" id="customized-well">

            <% if EventInvitation.find_by(event_id: event.id, user_id: current_user.id).mem_type == "owner" %>
              <h4><a href="/events/<%= event.id %>"><%= event.name %></a></h4>
            <% else %>
              <h4><%= event.name %></h4>
            <% end %>

            <% if EventInvitation.find_by(event_id: event.id).group_id %>
              <p><img src="http://icons.iconarchive.com/icons/custom-icon-design/silky-line-user/16/users-icon.png"> <%= Group.find(EventInvitation.find_by(event_id: event.id).group_id).name %> - <%= EventInvitation.find_by(event_id: event.id, mem_type: "owner").user.name %></p>
            <% end %>

            <% if event.start %>
              <p><img src="http://icons.iconarchive.com/icons/icons8/ios7/16/Time-And-Date-Timer-icon.png"> <%= event.friendly_time(event.start) %> - <%= event.friendly_time_only(event.end) %></p>
            <% else %>
              <p><img src="http://icons.iconarchive.com/icons/icons8/ios7/16/Time-And-Date-Timer-icon.png"> TBD</p>
            <% end %>

            <% if event.location != "" && event.yelp != "" %>
              <p><img src="http://icons.iconarchive.com/icons/icons8/ios7/16/Maps-Location-icon.png"> <a href="<%= event.yelp %>"><%= event.location %></a></p>
            <% elsif event.location != "" %>
              <p><img src="http://icons.iconarchive.com/icons/icons8/ios7/16/Maps-Location-icon.png"> <%= event.location %></p>
            <% end %>

            <% if EventInvitation.find_by(event_id: event.id, user_id: current_user.id).mem_type != "owner" %>
              <%= form_tag "/eventinvitations/#{EventInvitation.where(event_id: event.id, user_id: current_user.id)[0].id}", method: :patch do %>
                <p><input type="submit" class="btn btn-danger" name="decision" value="Decline"></p>
              <% end %>
            <% end %>

          </div>
        <% end %>
      <% else %>
        <h2>You have no upcoming events.</h2>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {

  var time = 0;

  $('#calendar').fullCalendar(
    {
      customButtons: {
        addEvent: {
          text: '+ add',
          click: function() {
            if (time) {
              window.location.href = '/events/new?start=' +  time[0] + '&end=' + time[1];
            } else {
              window.location.href = '/events/new';
            }
          }
        }
      },
      header: {
        left:   'today prev,next addEvent',
        center: 'title',
        right:  'month,agendaWeek,agendaDay,listWeek'
      },
      events: '/api/v1/events',
      selectable: true,
      selectHelper: true,
      dayClick: function(date, jsEvent, view) {
        if (view.name !== 'month') {
          return;
        }

        if (view.name === 'month') {
          $('#calendar').fullCalendar('changeView', 'agendaDay', {events: 'events.json'});
          $('#calendar').fullCalendar('gotoDate', date);
        }
      },
      select: function(start, end) {
        if ((start._d.toString().substring(16,24) !== "20:00:00") && (end._d.toString().substring(16,24) !== "20:00:00")) {
          time = [start._d, end._d];
        }
      }
    }
  );
});

</script>