<h1 class="title text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">New Event</h1>
<br>

<section id="services">
  <div class="container">
    <div class="row" wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
      <%= form_tag '/events', method: :post do %>
        <h4>Who</h4>
        <select class="multiselect" multiple="multiple" name = "groups[]">
          <% @groups.each do |group| %>
            <% if @chosen_group_id == Group.find_by(name: group).id %>
              <p><option value="<%= group %>" selected="selected"> <%= group %></option></p>
            <% else %>
              <p><option value="<%= group %>"> <%= group %></option></p>
            <% end %>
          <% end %>
        </select>
        <br>
        <br>
        <h4>What</h4>
        <p><input type="text" name="name"></p>
        <br>
        <h4>Where</h4>
        <p><input type="text" name="location"></p>
        <br>
        <h4>When</h4>
        <% if params[:start] %>
          <p>Start: <%= date_select :start_date,  :date, order: [:month, :day, :year], selected: Date.new(@default_start_year, @default_start_month, @default_start_date) %> - <%= time_select :start_time, :time, ampm: true, minute_step: 15, selected: DateTime.new(@default_start_year, @default_start_month, @default_start_date, @default_start_hour, @default_start_min) %></p>
          <p>End: <%= date_select :end_date, :date, order: [:month, :day, :year], selected: Date.new(@default_end_year, @default_end_month, @default_end_date) %> - <%= time_select :end_time, :time, ampm: true, minute_step: 15, selected: DateTime.new(@default_end_year, @default_end_month, @default_end_date, @default_end_hour, @default_end_min) %></p>
        <% else %>
          <p>Start: <%= date_select :start_date,  :date, order: [:month, :day, :year] %> - <%= time_select :start_time, :time, ampm: true, minute_step: 15 %></p>
          <p>End: <%= date_select :end_date, :date, order: [:month, :day, :year] %> - <%= time_select :end_time, :time, ampm: true, minute_step: 15 %></p>
        <% end %>
        <br>
        <button class="btn btn-success" type="submit" name="submit" value="create">Create</button>
        <button class="btn btn-primary" type="submit" name="submit" value="group_cal">See Group Calendar</button>
        <button class="btn btn-warning" type="submit" name="submit" value="options">Provide Options</button>
      <% end %>
    </div>
  </div>
</section>

<div class="container">
    <div class="row">
        <div class='col-sm-6'>
        <%= form_tag "/", method: :post do %>
            <input type='text' name="start" class="form-control" id='datetimepicker4' />
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        <% end %>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker4').datetimepicker({
                  stepping: 15
                });
            });
        </script>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {

  $('.multiselect').multiselect();
  
});
</script>