<%= form_tag '/events', method: :post do %>
  <br>
  <h3>What</h3>
  <p>name: <input type="text" name="name"></p>
  <br>
  <h3>Who</h3>
  <% @groups.each do |group| %>
    <p><input type="checkbox" name="groups[]" value="<%= group %>"> <%= group %></p>
  <% end %>
  <br>
  <h3>When</h3>
  <p>Start: <%= date_select :start_date,  :date, order: [:month, :day, :year] %> - 
  <%= time_select :start_time, :time, ampm: true, minute_step: 15 %></p>
  <p>End: <%= date_select :end_date, :date, order: [:month, :day, :year] %> - 
  <%= time_select :end_time, :time, ampm: true, minute_step: 15 %></p>
  <br>
  <h3>Where</h3>
  <p>duration: <input type="text" name="duration"></p>
  <p>location: <input type="text" name="location"></p>
  <p><input class="btn btn-success" type="submit" value="Submit"></p>
<% end %>