<h1 class="title text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">New Event</h1>
<br>

<section id="services">
  <div class="container">
    <div class="row" wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
      <%= form_tag '/events', method: :post do %>
        <h4>Who</h4>
        <select class="multiselect" multiple="multiple" name = "groups[]">
          <% @groups.each do |group| %>
            <% if @chosen_group_id == Group.find_by(name: group).id %>
              <p><option value="<%= group %>" selected="selected"> <%= group %></option></p>
            <% else %>
              <p><option value="<%= group %>"> <%= group %></option></p>
            <% end %>
          <% end %>
        </select>
        <br>
        <br>
        <h4>What</h4>
        <% if params[:name] %>
          <p><input type="text" name="name" value="<%= params[:name] %>" required="required"></p>
        <% else %>
          <p><input type="text" name="name" required="required"></p>
        <% end %>
        <br>
        <h4>Where</h4>
        <p><input type="text" name="location" placeholder="name"> - <input type="text" name="city" placeholder="city"> <input type="text" name="state" placeholder="state"></p>
        <p><i>Provide city and state to include Yelp link.</i></p>
        <br>
        <h4>When</h4>
        <% if params[:start] %>
          <div class="row">
              <div class='col-md-4'>
                  <div class="form-group">
                      <div class='input-group date' id='datetimepicker4'>
                          <input type='text' class="form-control" name="start" required="required">
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                      </div>
                  </div>
              </div>
              <div class='col-md-4'>
                  <div class="form-group">
                      <div class='input-group date' id='datetimepicker5'>
                          <input type='text' class="form-control" name="end" required="required">
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                      </div>
                  </div>
              </div>
          </div>
        <% else %>
          <div class="row">
              <div class='col-md-4'>
                  <div class="form-group">
                      <div class='input-group date' id='datetimepicker6'>
                          <input type='text' class="form-control" name="start">
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                      </div>
                  </div>
              </div>
              <div class='col-md-4'>
                  <div class="form-group">
                      <div class='input-group date' id='datetimepicker7'>
                          <input type='text' class="form-control" name="end">
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                      </div>
                  </div>
              </div>
          </div>
        <% end %>
        <br>
        <button class="btn btn-success" type="submit" name="submit" value="create">Create</button>
        <button class="btn btn-primary" type="submit" name="submit" value="group_cal">See Group Calendar</button>
        <button class="btn btn-warning" type="submit" name="submit" value="options">Provide Options</button>
      <% end %>
    </div>
  </div>
</section>


<script type="text/javascript">
$(document).ready(function() {

  Date.prototype.addHours = function(h) {    
    this.setTime(this.getTime() + (h * 60 * 60 * 1000));
    return this;   
  };

  var defaultStartYear = '<%= @default_start_year %>';
  var defaultStartMonth = '<%= @default_start_month %>';
  var defaultStartDate = '<%= @default_start_date %>';
  var defaultStartHour = '<%= @default_start_hour %>';
  var defaultStartMin = '<%= @default_start_min %>';

  var defaultEndYear = '<%= @default_end_year %>';
  var defaultEndMonth = '<%= @default_end_month %>';
  var defaultEndDate = '<%= @default_end_date %>';
  var defaultEndHour = '<%= @default_end_hour %>';
  var defaultEndMin = '<%= @default_end_min %>';

  if (defaultStartMonth === 1) {
    defaultStartMonth = 12;
  } else {
    defaultStartMonth -= 1;
  }

  if (defaultEndMonth === 1) {
    defaultEndMonth = 12;
  } else {
    defaultEndMonth -= 1;
  }

  $('.multiselect').multiselect();
  $('#datetimepicker4').datetimepicker({
    defaultDate: new Date(defaultStartYear, defaultStartMonth, defaultStartDate, defaultStartHour, defaultStartMin).addHours(4),
    stepping: 15
  });
  $('#datetimepicker5').datetimepicker({
    defaultDate: new Date(defaultEndYear, defaultEndMonth, defaultEndDate, defaultEndHour, defaultEndMin).addHours(4),
    stepping: 15
  });
  $('#datetimepicker6').datetimepicker({
    defaultDate: new Date(),
    stepping: 15
  });
  $('#datetimepicker7').datetimepicker({
    stepping: 15
  });
  $("#datetimepicker6").on("dp.change", function (e) {
      $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
  });
  $("#datetimepicker7").on("dp.change", function (e) {
      $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
  });

});
</script>