<h1 class="title text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">New Event</h1>
<br>

<section id="services">
  <div class="container">
    <div class="row" wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
      <%= form_tag '/events', method: :post do %>
        <h4>Who</h4>
        <select class="multiselect" multiple="multiple", name = "groups[]">
          <% @groups.each do |group| %>
            <p><option value="<%= group %>"> <%= group %></option></p>
          <% end %>
        </select>
        <br>
        <br>
        <h4>What</h4>
        <p><input type="text" name="name"></p>
        <br>
        <h4>Where</h4>
        <p><input type="text" name="location"></p>
        <br>
        <h4>When</h4>
        <p>Start: <%= date_select :start_date,  :date, order: [:month, :day, :year] %> - <%= time_select :start_time, :time, ampm: true, minute_step: 15 %></p>
        <p>End: <%= date_select :end_date, :date, order: [:month, :day, :year] %> - <%= time_select :end_time, :time, ampm: true, minute_step: 15 %></p>
        <br>
        <button class="btn btn-success" type="submit" name="submit" value="create">Create</button>
        <button class="btn btn-primary" type="submit" name="submit" value="group_cal">See Group Calendar</button>
        <button class="btn btn-warning" type="submit" name="submit" value="options">Provide Options</button>
      <% end %>
    </div>
  </div>
</section>

<script type="text/javascript">
$(document).ready(function() {

    $(document).ready(function() {
      $('.multiselect').multiselect();
    });

});
</script>