<%= form_tag '/events', method: :post do %>
  <br>
  <h3>What</h3>
  <p>name: <input type="text" name="name"></p>
  <br>
  <h3>Who</h3>
  <select class="multiselect" multiple="multiple", name = "groups[]">
    <% @groups.each do |group| %>
      <p><option value="<%= group %>"> <%= group %></p>
    <% end %>
  </select>
  <br>
  <h3>When</h3>
  <p>Start: <%= date_select :start_date,  :date, order: [:month, :day, :year] %> - 
  <%= time_select :start_time, :time, ampm: true, minute_step: 15 %></p>
  <p>End: <%= date_select :end_date, :date, order: [:month, :day, :year] %> - 
  <%= time_select :end_time, :time, ampm: true, minute_step: 15 %></p>
  <br>
  <h3>Where</h3>
  <p>duration: <input type="text" name="duration"></p>
  <p>location: <input type="text" name="location"></p>

  <!-- if known date -->
  <p><input class="btn btn-success" type="submit" value="Send Invitation"></p>

<% end %>

  <!-- if group(s) selected share calendars -->
  <p><button class="btn btn-primary" type="submit" href="">View Group Calendar</button></p>

<%= form_tag '/options/new', method: :get do %>
  <!-- HOW TO PASS IN HIDDEN GROUP PARAMETER FROM ABOVE???? -->
  <p><input  type="hidden" name="groups" value="????????????"></p>
  <p><input class="btn btn-warning" type="submit" value="Provide Options"></p>
  <!-- JS to show instead of opening new page ... -->
<% end %>

