<section id="services">
  <div class="container">
    <% if option_responses_count == 0 %>
      <h2>No option responses</h2>
    <% else %>
      <h1 class="title text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">Option Responses</h1>
      <br>

      <% @event_options.each do |event, options| %>
        <div class="row" wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
          <h4>Who</h4>
          <p><%= Group.find(EventInvitation.find_by(event_id: event.id).group_id).name %></p>
          <br>
          <h4>What</h4>
          <p><%= event.name %></p>
          <br>
          <h4>Where</h4>
          <p><%= event.location %></p>
          <br>
          <h4>When - Options</h4>
          <% options.each do |option, votes| %>
            <%= form_tag "/option_send_final", method: :post do %>
              <div class="col-md-2">
                <input type="submit" class="btn btn-success" value="Send Invite(s)">
                <input type="hidden" name="option" value="<%= option.id %>">
              </div>
              <div class="col-md-3"><%= option.start.strftime("%a, %b %d %I:%M %P") %> - <%= option.end.strftime("%I:%M %P") %></div>
              <% people = [] %>
              <% votes.each do |person| %>
                <% people << person.name  %>
              <% end %>
              <div class="col-md-3"><img src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-8/16/User-blue-icon.png" > <%= people.join(", ") %></div>
              <br>
              <br>
            <% end %>
          <% end %>
        </div>
        <hr>
      <% end %>
    <% end %>
  </div>
</section>