<div class="personalized-container">
  <div class="row">
    <div class="col-md-8" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div id="calendar"></div>
    </div>
    <div class="col-md-4" data-wow-duration="1000ms" data-wow-delay="300ms">
      <% if pending_options_array.count == 0 %>
        <h2>No pending options</h2>
      <% else %>
        <% pending_options_array.each do |event_id| %>
          <%= form_tag "/option_proposals", method: :post do %>
            <h2><strong><%= Event.find(event_id).name %></strong></h2>
            <input type="hidden" name="event_id" value="<%= event_id %>">
            <p>From: <%= EventInvitation.find_by(event_id: event_id, mem_type: "owner").user.name.capitalize %></p>
            <p>Location: <%= Event.find(event_id).location %> </p>
            <% i = 0 %>
            <p><strong>Options</strong></p>
            <select class="multiselect" multiple="multiple" name = "option_ids[]">
              <% Option.where(event_id: event_id, user_id: current_user.id, vote: "pending").each do |time_option| %>
                <p><option value="<%= time_option.id %>"> <%= (time_option.start).strftime("%a, %b %d %I:%M %P")%> - <%= (time_option.end).strftime("%I:%M %P") %></option></p>
              <% end %>
            </select>
            <input type="submit" class="btn btn-success" value="Vote">
            <hr>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {

  $('.multiselect').multiselect({buttonWidth: '350px'});

  $('#calendar').fullCalendar(
    {
      header: {
        left:   'today prev,next addEvent',
        center: 'title',
        right:  'month,agendaWeek,agendaDay,listWeek'
      },
      events: '/api/v1/events',
      selectable: true,
      selectHelper: true,
      dayClick: function(date, jsEvent, view) {
        if (view.name !== 'month') {
          return;
        }

        if (view.name === 'month') {
          $('#calendar').fullCalendar('changeView', 'agendaDay', {events: 'events.json'});
          $('#calendar').fullCalendar('gotoDate', date);
        }
      }
    }
  );
});

</script>