<div class="container">
  <div class="row col-md-6">
    <h4>What</h4>
    <p><%= @event.name %></p>
    <br>
    <h4>Where</h4>
    <p><%= @event.location %></p>
    <br>
    <h4>When</h4>
    <p><%= @event.start.strftime("%a, %b %d %I:%M %P")%> - <%= @event.end.strftime("%I:%M %P") %></p>
    <br>
    <h4>Who</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Decision</th>
        </tr>
      </thead>

      <% if @event_pending %>
        <% @event_pending.each do |invitation| %>
          <tr>
            <td><%= invitation.mem_type.capitalize %></td>
            <td><%= User.find(invitation.user_id).name.capitalize %></td>
            <td><%= invitation.decision.capitalize %></td>
          </tr>
        <% end %>
      <% end %>

      <% if @event_accept %>
        <% @event_accept.each do |invitation| %>
          <tr>
            <td><%= invitation.mem_type.capitalize %></td>
            <td><%= User.find(invitation.user_id).name.capitalize %></td>
            <td><%= invitation.decision %></td>
          </tr>
        <% end %>
      <% end %>

      <% if @event_decline %>
        <% @event_decline.each do |invitation| %>
          <tr>
            <td><%= invitation.mem_type.capitalize %></td>
            <td><%= User.find(invitation.user_id).name.capitalize %></td>
            <td><%= invitation.decision %></td>
          </tr>
        <% end %>
      <% end %>
    </table>

    <%= form_tag "/events/#{@event.id}/cancel", method: :patch do %>
      <p><input type="submit" class="btn btn-danger" value="Cancel"></p>
    <% end %>
  </div>
</div>